{% extends "food/user_account.html" %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "food/favorite_dish.css"%}"/>
{% endblock %}

{% block usercontent  %}
    <div class="card-holder d-flex flex-wrap m-2">
        {% for favorite in favorite_dishes %}
        <div class="card m-2">
            {% if favorite.dish.image %}
                <img src={{ favorite.dish.image.url  }} class="card-img-top">
            {% else %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png?20200912122019" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ favorite.dish.name }}</h5>
                <p class="card-text"></p>
                <form method="POST" action="{% url "food:favorite_dish_delete" favorite.id %}">
                    {% csrf_token %}<input type="submit" class="btn btn-danger" value="Удалить">
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}