{% extends "food/foodservice_account.html" %}
{% block foodservicecontent %}
<ul class="list-group m-2">
    {% for worker in workers %}
        <li class="list-group-item d-flex align-items-center">
            <div class="p-2">{{ worker.username }}</div>
            <div class="p-2">{{ worker.first_name }} {{ worker.last_name }}</div>
            <div class="p-2">
                <a class="btn btn-danger"  href={% url "food:foodservice_worker_delete" title_2 worker.id %}>Удалить</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock  %}