{% extends "base/base.html" %}
{% block content  %}
<div class="container">
<div class="row">
    <div class="col-10">
        {% block foodservicecontent %}
        {% endblock %}
    </div>
    <div class="col-2">
        <div class="list-group m-2">
                <a href="" class="list-group-item list-group-item-action">Меню</a>
                <a href="" class="list-group-item list-group-item-action">Заказы</a>
            {% load template_extras %}
            {% if user|is_owner:foodservice%}
                <a class="list-group-item list-group-item-action" href={% url "food:foodservice_workers" title %}>Работники</a>
            {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock  %}
