{% extends 'base/base.html' %}

{% block content %}
    <h1>Меню на сегодня</h1>
    <ul>
        {% for menu in menu_list %}
            <li>
                <a href="{% url 'food:dish_detail' menu.dish.id %}">{{ menu }}
                </a>
                <br>
                <a href="{% url 'food:delete_menu' menu.id %}"onclick="return confirm('Вы уверены, что хотите удалить это блюдо из меню?');">Удалить блюдо</a>
                <br><br>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <a href="{% url 'food:menu_form' %}">Добавить блюдо в меню</a>
    <br>
{% endblock %}