{% extends 'base/base.html' %}

{% block content %}
<h1>Все заказы заведения {{ foodservice_title }}</h1>
<table>
<tr>
<th>Дата</th>
<th>Пользователь</th>
<th>ID заказа</th>
</tr>
{% for group in orders %}
    {% if group %}
    <tr>
        <td>{{ group.0.order.date|date:"d-m-Y" }}</td>
        <td>{{ group.0.order.user.username }}</td>
        <td>{{ group.0.order.id }}</td>
        <td><a href="{% url 'food:order_detail' group.0.order.id %}">Детали</a></td>        
    </tr>
    {% endif %}
{% endfor %}
</table>
{% endblock %}

