{% extends "base/base.html" %}
{% block content  %}
<div class="container">
<div class="row">
    <div class="col-10">
        {% block usercontent %}
        {% endblock %}
    </div>
    <aside class="col-2">
        <div class="list-group m-2">
                <a href={% url "food:orders" %} class="list-group-item list-group-item-action">Заказы</a>
                <a href={% url "food:favorite_dish" %} class="list-group-item list-group-item-action">Избранные блюда</a>
        </div>
    </aside>
</div>
</div>


{% endblock  %}
