{% extends "base/base.html" %}
{% block content  %}
<div class="container">
<div class="row">
    <div class="col-10">
        {% block usercontent %}
        {% endblock %}
    </div>
    <div class="col-2">
        <div class="d-flex flex-column bg-secondary text-white">
            <div class="p-2">
                <a href={% url "food:orders" %} class="btn btn-secondary w-100">Заказы</a>
            </div>
            <div class="p-2">
                <a href={% url "food:orders" %} class="btn btn-secondary w-100">Избранное</a>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock  %}
