{% extends "food/foodservice/foodservice_account.html" %}


{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "food/menu.css"%}" />
{% endblock %}

{% block foodservicecontent %}
    <h1>Меню на сегодня</h1>
    <div class="d-flex flex-md-row flex-wrap">
        <!-- <div class="col-sm-4"> -->
        {% load template_extras %}
        {% for menu in menu_list %}
        {% url 'food:delete_menu' menu.id as edit_url %}
        {% dish_card menu.dish False True edit_url %}
        {% endfor %}
        <!-- </div> -->
    </div>

<br><br>
<a class="btn btn-primary" href="{% url 'food:menu_form' title %}">Добавить блюдо в меню</a>
<br>
{% endblock %}