{% extends "food/user_account/user_account.html" %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "food/favorite_dish.css"%}"/>
{% endblock %}

{% block usercontent  %}
    <h1>Избранные блюда</h1>
    <div class="card-holder d-flex flex-wrap m-3">
        {% load template_extras %}
        {% for favorite in favorite_dishes %}
            {% url 'food:favorite_dish_delete' user.id favorite.dish.id as delete_url %}
            {% dish_card dish=favorite.dish cur_url=request.path is_description=True is_calorie=True is_deletable=True delete_url=delete_url %}
        {% endfor %}
    </div>
{% endblock %}