{% extends "food/user_account/user_account.html" %}
{% block usercontent  %}
    
        {% for order in orders %}
        <div class="container border m-2">
            <div class="d-flex justify-content-start">
                <div class="m-2">
                    Номер заказа:{{ order.id }}
                </div>
                <div class ="m-2">
                    {{ order.date }}
                </div>
            </div>
            {% for detail in order.orderdetails_set.all %}
            <div class="d-flex justify-content-center align-items-center">
                <div class="m-2">
                    {{ detail.dish.name }}
                </div>
                <div class="m-2">
                    {{ detail.dish.price }} x {{detail.count}}
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-end m-2">
                {% load template_extras %}
                Всего:{{order.total_cost}}
            </div>
        </div>
      {% endfor %}
    
{% endblock  %}
