{% extends "base/base.html" %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-10">
            {% block foodservicecontent %}
            {% endblock %}
        </div>
            <aside class="col-2">
                <div class="list-group m-2">
                        <a href={% url "food:menu" %} class="list-group-item list-group-item-action">Меню</a>
                        <a href={% url "food:foodservice_orders" title %} class="list-group-item list-group-item-action">Заказы</a>
                    {% load template_extras %}
                    {% if user|is_owner:title %}
                        <a class="list-group-item list-group-item-action" href={% url "food:foodservice_workers" title %}>Работники</a>
                    {% endif %}
                        <a class="list-group-item list-group-item-action" href={% url "food:foodservice_detail" title %}>Информация</a>
                </div>
            </aside>

    </div>
</div>
{% endblock  %}
