{% extends "food/foodservice/foodservice_account.html" %}
{% block foodservicecontent %}
<ul class="list-group m-2">
    {% load template_extras %}
    {% for worker in workers %}
        <li class="list-group-item d-flex align-items-center">
            <div class="p-2">{{ worker.username }}</div>
            <div class="p-2">{{ worker.first_name }} {{ worker.last_name }}</div>
            {% if not worker|is_owner:title %}
                <div class="p-2 ms-auto">
                    <a class="btn btn-danger" href="{% url "food:foodservice_worker_delete" title worker.id %}">Уволить</a>
                </div>
            {% endif%}
        </li>
    {% endfor %}
    <li class="list-group-item"><a class="btn btn-primary" href="{% url "food:foodservice_worker_add" title %}">Добавить работника</a></li>
</ul>

{% endblock  %}