{% extends "base/base.html" %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-10">
            {% block foodservicecontent %}
            {% endblock %}
        </div>
        <div class="col-2">
            <div class="list-group m-2">
                {% load template_extras %}
                <a href={% url "food:menu" %} class="list-group-item list-group-item-action">Меню</a>
                {% if user|is_worker:title %}
                    <a href={% url "food:order_create" title %} class="list-group-item list-group-item-action">Принять заказ</a>
                    <a href={% url "food:foodservice_orders" title %} class="list-group-item list-group-item-action">Заказы</a>
                    
                    {% if user|is_owner:title %}
                        <a class="list-group-item list-group-item-action" href={% url "food:foodservice_workers" title %}>Работники</a>
                    {% endif %}
                        
                {% endif %}
                
                <a class="list-group-item list-group-item-action" href={% url "food:foodservice_detail" title %}>Информация</a>
            </div>
        </div>

    </div>
</div>
{% endblock  %}
