{% extends "base/base.html" %}
{% block content  %}
<div class="row">
    
    <div class="col-8 d-flex flex-column m-2">
        {% for foodservice in foodservices %}
            <div class="m-2">
                <button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ foodservice.id }}" aria-expanded="false">
                    {{ foodservice.title }}
                </button>
                <div class="collapse" id="collapse{{ foodservice.id }}">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href={% url "food:foodservice_orders" foodservice.title %}>Заказы</a>
                        <a class="list-group-item list-group-item-action" href={% url "food:menu" %}>Меню</a>
                        <a class="list-group-item list-group-item-action" href={% url "food:dish" %}>Блюда</a>
                        {% load template_extras %}
                        {% if user|is_owner:foodservice%}
                            <a class="list-group-item list-group-item-action" href={% url "food:foodservice_workers" foodservice.title %}>Работники</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
    <div class="col"></div>
<div>
{% endblock  %}
