{% extends "base/base.html" %}

{% block content %}
    
    {% if form.errors %}
        <p>{{ form.non_field_errors}}</p>
        
    {% endif %}

    {% if user.is_authenticated %}
        <p>Вы уже вошли под логином {{user.get_username}}</p>
    {% else %}  
    <div class="container text-left">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                {% load template_extras %}
                {% stylize_form form "Войти" %}
                <a href={% url "password_reset"%}>Забыли пароль</a>
            </div>
            <div class="col">
            </div>
        </div>
        
    </div>
    {% endif %}
{% endblock  %}